:root {
  --dark_orange: #ec780d;
  --light_orange: #ffb16a;
  --black: #000;
  --white: #fff;
  --primary_font: "Libre Caslon Text", serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--black);
  padding: 0 13rem;
  font-family: var(--primary_font);
}

.main {
  margin-top: 1rem;
  border: 1px solid white;
}

.hidden {
  display: none !important;
}

////////////////////////////////////////
// NAV
////////////////////////////////////////

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .sub_nav {
    display: flex;
    .p_navigation {
      color: var(--dark_orange);
      font-size: 1.2rem;
    }
    i {
      color: var(--light_orange);
      font-size: 1.5rem;
      display: inline;
    }
  }
  .sub_nav:hover {
    cursor: pointer;
  }
}

////////////////////////////////////////
/// HOME PAGE
////////////////////////////////////////

#home_page {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 100px repeat(4, 200px);
  .title {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    h1 {
      color: var(--light_orange);
      font-size: 6rem;
      font-weight: lighter;
      display: inline-block;
      .undertitle {
        font-size: 0.5em;
        display: block;
        text-align: center;
        font-style: italic;
        font-weight: lighter;
      }
    }
  }
  .div_p_home_content {
    grid-row: 3 / 5;
    grid-column: 1 / 4;
    .p_home_content {
      color: var(--white);
      font-size: 1.5rem;
      padding: 5rem 0;
      line-height: 1.5;
    }
  }
  .div_recipe_btn {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
    display: grid;
    place-items: center;
    .recipe_btn {
      padding: 8px 20px;
      border-radius: 25px;
      border: 1px solid var(--light_orange);
      color: var(--light_orange);
      background-color: transparent;
      font-size: 1.4rem;
      height: 50px;
      width: 200px;
    }
    .recipe_btn:hover {
      cursor: pointer;
    }
  }
  .div_home_img {
    grid-column: 4 / 6;
    grid-row: -1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    img {
      width: 80%;
    }
  }
}
@media (max-width: 1482px) {
  #home_page {
    .title {
      h1 {
        font-size: 5rem;
      }
    }
    .div_p_home_content {
      .p_home_content {
        font-size: 1.4rem;
      }
    }
  }
}
@media (max-width: 1282px) {
  #home_page {
    .title {
      h1 {
        font-size: 4rem;
      }
    }
    .div_p_home_content {
      .p_home_content {
        font-size: 1.2rem;
      }
    }
  }
}

////////////////////////////////////////
/// RECIPE PAGE
////////////////////////////////////////

#recipe_page {
  .content_recipe_section {
    h2 {
      color: var(--light_orange);
    }
    .recipe_category {
      color: white;
    }
    .recipe_area {
      color: white;
    }
    .recipe_tag {
      color: white;
    }
    .ingredients_measures {
      color: white;
    }
    .recipe_instructions {
      color: white;
    }
  }
}

////////////////////////////////////////
/// CATERORY PAGE
////////////////////////////////////////

#category_page {
  h1 {
    color: var(--light_orange);
  }
  p {
    color: #ec780d;
  }
  .category_grid_container {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    // will be generated dynamically
    // grid-template-rows: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: repeat(4, 400px);
    gap: 2rem;

    .category_card {
      display: flex;
      flex-direction: column;
      max-width: 230px;
      .category_card_top {
        position: relative;
        height: 100%; /* Ensure container takes full height of .card */
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
        overflow: hidden;
        .category_img {
          width: 100%;
          height: 100%; /* Make the image cover the entire .card_top */
          object-fit: cover; /* Maintain aspect ratio while covering the container */
          position: absolute;
          top: 0;
          left: 0;
        }
        .category_p {
          background-color: rgba(0, 0, 0, 0.7);

          text-align: center;
          font-size: 2rem;
          z-index: 1;
          position: relative; /* Ensure the p element appears above the image */
          color: var(--dark_orange);
        }
      }
      .category_buttons {
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
        button {
          border-radius: 2rem;
          font-size: 1rem;
        }

        .button:hover {
          cursor: pointer;
        }
        .random_button {
          background-color: var(--dark_orange);
          color: var(--white);
          border: none;
          padding: 0.5rem 0.8rem;
        }
        .list_button {
          background-color: transparent;
          color: var(--dark_orange);
          border: 1px solid var(--dark_orange);
          padding: 0.5rem 2rem;
          font-weight: bold;
        }
      }
    }
  }
}

// /* Define grid layout for smaller screens (2 columns) */
@media (max-width: 1430px) {
  .category_grid_container {
    grid-template-rows: repeat(5, 400px);
  }
}

@media (max-width: 1526px) {
  h1 {
    font-size: 3rem;
  }
}

////////////////////////////////////////
/// LIST PAGE
////////////////////////////////////////
///
#list_page {
  h1 {
    color: var(--light_orange);
  }
  p {
    color: #ec780d;
  }
  .list_grid_container {
    grid-template-columns: repeat(2, 1fr);
  }
}
