:root {
  --dark_orange: #ec780d;
  --light_orange: #ffb16a;
  --black: #000;
  --white: #fff;
  --primary_font: "Libre Caslon Text", serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--black);
  font-family: var(--primary_font);
  padding: 0 2rem;
}

.hidden {
  display: none !important;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
nav .sub_nav {
  display: flex;
}
nav .sub_nav .p_navigation {
  color: var(--dark_orange);
  font-size: 1.2rem;
}
nav .sub_nav i {
  color: var(--light_orange);
  font-size: 1.5rem;
  display: inline;
}
nav .sub_nav:hover {
  cursor: pointer;
}

.home_page {
  display: flex;
  flex-flow: column;
  height: 100%;
  background: url(img/bg-img.png) no-repeat bottom right;
}
.home_page .home_container {
  border: 1px solid white;
  flex: 1 1 auto;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.home_page .home_container .title_container {
  flex: auto;
  display: grid;
  place-content: center;
}
.home_page .home_container .title_container h1 {
  color: var(--light_orange);
  font-size: 5rem;
  font-weight: lighter;
  display: inline-block;
}
.home_page .home_container .title_container h1 .undertitle {
  font-size: 0.5em;
  display: block;
  text-align: center;
  font-style: italic;
  font-weight: lighter;
}
.home_page .home_container .text_container {
  border: 1px solid white;
  flex: auto;
  display: grid;
  place-content: center;
}
.home_page .home_container .text_container .home_text {
  color: var(--white);
  font-size: 1.25rem;
  line-height: 1.5;
  padding: 5rem 0;
}
.home_page .home_container .btn_container {
  border: 1px solid white;
  flex: auto;
  display: grid;
  place-content: center;
}
.home_page .home_container .btn_container .recipe_btn {
  padding: 8px 20px;
  border-radius: 25px;
  border: 1px solid var(--light_orange);
  color: var(--light_orange);
  background-color: transparent;
  font-size: 1.4rem;
  height: 50px;
  width: 200px;
}
.home_page .home_container .btn_container .recipe_btn:hover {
  cursor: pointer;
}

@media screen and (max-width: 1440px) {
  .home_page {
    background: url(img/medium-bg.png) no-repeat bottom right;
  }
  .home_page .home_container {
    width: 60%;
  }
}
@media screen and (max-width: 1048px) {
  .home_page .home_container .title_container h1 {
    font-size: 4rem;
  }
  .home_page .home_container .text_container .home_text {
    font-size: 1rem;
    padding: 3rem 0;
    color: red;
  }
}
@media screen and (max-width: 886px) {
  .home_page .home_container .title_container h1 {
    font-size: 3rem;
  }
}
/* tablet */
@media screen and (max-width: 768px) {
  .home_page {
    background: url(img/small-bg.png) no-repeat bottom right;
  }
  .home_page .home_container .title_container h1 {
    font-size: 2rem;
  }
  .home_page .home_container .text_container .home_text {
    font-size: 0.9rem;
    color: violet;
  }
}
/* mobile */
@media screen and (max-width: 560px) {
  .home_page {
    background: none;
  }
  .home_page .home_container {
    width: 100%;
  }
  .img-mobile-container {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 357px) {
  .home_page .home_container .title_container h1 {
    font-size: 1.5rem;
  }
  .home_page .home_container .text_container .home_text {
    font-size: 1rem;
    color: blue;
  }
}
@media screen and (max-width: 308px) {
  .home_page .home_container .title_container h1 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 260px) {
  .home_page .home_container .title_container h1 {
    font-size: 0.9rem;
  }
}
.recipe_container .content_recipe_section h2 {
  color: var(--light_orange);
}
.recipe_container .content_recipe_section .recipe_category {
  color: white;
}
.recipe_container .content_recipe_section .recipe_area {
  color: white;
}
.recipe_container .content_recipe_section .recipe_tag {
  color: white;
}
.recipe_container .content_recipe_section .ingredients_measures {
  color: white;
}
.recipe_container .content_recipe_section .recipe_instructions {
  color: white;
}

.category_container h1 {
  color: var(--light_orange);
}
.category_container p {
  color: #ec780d;
}
.category_container .category_grid_container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(4, 400px);
  gap: 2rem;
}
.category_container .category_grid_container .category_card {
  display: flex;
  flex-direction: column;
  max-width: 230px;
}
.category_container .category_grid_container .category_card .category_card_top {
  position: relative;
  height: 100%; /* Ensure container takes full height of .card */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  overflow: hidden;
}
.category_container .category_grid_container .category_card .category_card_top .category_img {
  width: 100%;
  height: 100%; /* Make the image cover the entire .card_top */
  object-fit: cover; /* Maintain aspect ratio while covering the container */
  position: absolute;
  top: 0;
  left: 0;
}
.category_container .category_grid_container .category_card .category_card_top .category_p {
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  font-size: 2rem;
  z-index: 1;
  position: relative; /* Ensure the p element appears above the image */
  color: var(--dark_orange);
}
.category_container .category_grid_container .category_card .category_buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.category_container .category_grid_container .category_card .category_buttons button {
  border-radius: 2rem;
  font-size: 1rem;
}
.category_container .category_grid_container .category_card .category_buttons .button:hover {
  cursor: pointer;
}
.category_container .category_grid_container .category_card .category_buttons .random_button {
  background-color: var(--dark_orange);
  color: var(--white);
  border: none;
  padding: 0.5rem 0.8rem;
}
.category_container .category_grid_container .category_card .category_buttons .list_button {
  background-color: transparent;
  color: var(--dark_orange);
  border: 1px solid var(--dark_orange);
  padding: 0.5rem 2rem;
  font-weight: bold;
}

@media (max-width: 1430px) {
  .category_grid_container {
    grid-template-rows: repeat(5, 400px);
  }
}
@media (max-width: 1526px) {
  h1 {
    font-size: 3rem;
  }
}
.list_container h1 {
  color: var(--light_orange);
}
.list_container p {
  color: #ec780d;
}
.list_container .list_grid_container {
  grid-template-columns: repeat(2, 1fr);
}

/*# sourceMappingURL=style.css.map */
